# Env files
.env
.env.*
!.env.example
!**/.env.example
!public-verify/.env.production

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build artifacts
.next/
out/
dist/
build/
coverage/

# Hardhat
artifacts/
cache/
typechain-types/

# OS / editor
.DS_Store
.vscode/
.idea/

# Supabase local
.supabase/

# Runtime temp
*.pid
*.tmp
